/*Paragraph Styling*/
p{
    color:teal;
    font-size: 16px;
}

/*Header Styling*/
h2{
    color:darkslategray;
    background-color:lightslategray;
}

/*Table Styling*/
table, th, td{
    border:2px solid steelblue;
    border-collapse: collapse;
}

/*futuregoals Paragraph*/
#futuregoals{
    color: darkslategray;
    font-weight: bold;
}

/*Highlight Class*/
.highlight{
    background-color:lightpink;
}

/*Logo Styling*/
img.logo{
    width:300px;
    height:80px;
}