<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Emely Martinez</title>
</head>
<body>


<!-- Main Heading -->
    <h1>About Emely Martinez</h1>

<!-- moving image logo to the top of the page-->

<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
alt="Robert H. Smith School of Business Logo"
     width="300"
     height="80"
>
    <h2>Education</h2>
<!-- Education section. More in depth info-->
    <p>

        I am a student at the University of Maryland studying
        <strong>Information Systems </strong> and
        <strong>Operations Management &amp; Business Analytics</strong> .
        I am also involved in the Smith Business Leadership Fellow program
        where I have developed leadership and professional skills.

        Some skills I have practiced through my courses:

    </p>
        <ol><!-- list showing skills-->
            <li>Coding</li>
            <li>R Studio</li>
            <li>Presentations</li>
            <li>Teamwork</li>
        </ol>

<!--Personal Interests section-->
 <h2>Personal Interests</h2>

    <p>

        Outside of school, I enjoy <em>painting</em>, trying new foods, biking, and
        spending time with friends. My favorite color is pink. I have a sister ten years younger than me.

        In the future, I hope to pursue a career related to analytics and would <em>love</em> to work in a
        busy city where I can continue learning and growing professionally.

        Other personal interests...

    </p>

        <ul>
            <li>Baking</li>
            <li>Reading</li>
            <li>Watching documentaries</li>
            <li>Traveling</li>
        </ul>

    <h2>Courses Taken</h2>

<table border="1">
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>

    <tr>
        <td>BMGT302 Intro to Python</td>
        <td>Fall 2025</td>
    </tr>

    <tr>
        <td>BMGT430 Data Modeling</td>
        <td>Spring 2026</td>
    </tr>

    <tr>
        <td>BMGT332 Quantitative Models for Management Decision</td>
        <td>Spring 2026</td>
    </tr>

</table>

<p>
    <a href="/hello">Go to Hello Page</a>
</p>

<h2>Some of my Favorite Websites</h2>

<p>
    <a href="https://www.nytimes.com/puzzles/sudoku" target="_blank">
        New York Times Sudoku
    </a>
</p>

<p>
    <a href="https://www.youtube.com">
        Youtube
    </a>
</p>

</body>
</html>